<div class="card border-light m-3" style="max-width: 40rem">
    <div class="card-header">{{titulo|uppercase}}</div>
    <div class="card-body">
        <form style="max-width: 40rem" [formGroup]="newCliente" (ngSubmit)="onCreated(newCliente.value)">
            <div class="form-group">
                <fieldset>
                    <div class="form-group col-md-8">
                        <label for="exampleSelect1" class="form-label mt-4">Seleccione Cliente</label>
                        <select class="form-select" id="clientes" formControlName="clientes">
                            <option value="">Seleccione</option>
                          <option value="{{dato.id}}" *ngFor="let dato of _clientes" > {{dato.name}}</option>
                         
                        </select>
                    </div>

                    <div class="form-group col-md-8">
                        <label class="form-label mt-4">Código de factura</label>
                        <input type="text" class="form-control" id="CodigoFactura" formControlName="codigo" />
                    </div>


                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Ciudad</label>
                        <input type="text " class="form-control " id="ciudad" formControlName="ciudad" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">NIT</label>
                        <input type="text " class="form-control " id="nit " formControlName="nit" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Total Factura</label>
                        <input type="text " class="form-control " id="factura " formControlName="totalFactura" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">SubTotal</label>
                        <input type="text " class="form-control " id="subTotal " formControlName="subTotal" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Iva</label>
                        <input type="text " class="form-control " id="iva " formControlName="iva" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Retención</label>
                        <input type="text " class="form-control " id="retencion " formControlName="retencion" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Fecha de Creación</label>
                        <input type="date" class="form-control " id="fechaCreacion " formControlName="fechaCreacion" />
                    </div>


                    <button type="submit " class="btn btn-outline-primary mt-3 ">Guardar</button>
                </fieldset>
            </div>
            <button routerLink="/lista " type="button " class="btn btn-outline-primary mt-3 ">
        Volver a la lista
      </button>
        </form>
    </div>
</div>