<div class="card border-light m-3" style="max-width: 40rem">
    <div class="card-header">{{titulo|uppercase}}</div>
    <div class="card-body">
        <form style="max-width: 40rem" [formGroup]="newCliente" (ngSubmit)="onCreated(newCliente.value)">
            <div class="form-group">
                <fieldset>

                    <div class="form-group col-md-8">
                        <label class="form-label mt-4">Código de factura</label>
                        <input type="text" class="form-control" id="CodigoFactura" formControlName="CodigoFactura" [(ngModel)]="ngCodigoDeFactura" />
                    </div>
                    <div class="form-group col-md-8">
                        <label class="form-label mt-4">Cliente</label>
                        <input type="text" class="form-control" id="cliente" formControlName="cliente" [(ngModel)]="ngCliente" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Ciudad</label>
                        <input type="text " class="form-control " id="ciudad " formControlName="ciudad " [(ngModel)]="ngCiudad" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">NIT</label>
                        <input type="text " class="form-control " id="nit " formControlName="nit " [(ngModel)]="ngNit" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Total Factura</label>
                        <input type="text " class="form-control " id="factura " formControlName="factura " [(ngModel)]="ngFactura" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">SubTotal</label>
                        <input type="text " class="form-control " id="subTotal " formControlName="subTotal " [(ngModel)]="ngSubTotal" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Iva</label>
                        <input type="text " class="form-control " id="iva " formControlName="iva " [(ngModel)]="ngIva" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Retención</label>
                        <input type="text " class="form-control " id="retencion " formControlName="retencion " [(ngModel)]="ngRetencion" />
                    </div>

                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Fecha de Creación</label>
                        <input type="date " class="form-control " id="fechaCreacion " formControlName="fechaCreacion " [(ngModel)]="ngFechaCreacion" />
                    </div>
                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Estado</label>
                        <input type="text " class="form-control " id="estado " formControlName="estado " disabled />
                    </div>
                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Pagada</label>
                        <input type="text " class="form-control " id="pagada " formControlName="pagada " disabled />
                    </div>
                    <div class="form-group col-md-8 ">
                        <label class="form-label mt-4 ">Fecha de Pago</label>
                        <input type="date " class="form-control " id="fechaDePago " formControlName="fechaDePago " disabled />
                    </div>

                    <button type="submit " class="btn btn-outline-primary mt-3 ">Guardar</button>
                </fieldset>
            </div>
            <button routerLink="/lista " type="button " class="btn btn-outline-primary mt-3 ">
        Volver a la lista
      </button>
        </form>
    </div>
</div>